<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://davidtestfunction5601app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/153bf828-3e1e-48f9-8e6d-7f69c8e188aa/resourcegroups/DavidTestFunction5601RG/providers/Microsoft.Web/sites/DavidTestFunction5601App</ResourceId>
    <UserName>$DavidTestFunction5601App</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://davidtestfunction5601app.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>